<!DOCTYPE html>
<html>
<body>

<h2>RestaurentAdmin</h2>

<form action="persondata" method='POST'>
    {% csrf_token %}
  <label for="fname">Main Stream FoodName:</label><br>
  <input type="text" id="fname" name="foodName"><br><br>
  <label for="lname">SubCategory Food Charge:</label><br>
  <input type="text" id="lname" name="foodCharge" ><br><br>
  <input type="submit" value="Submit">
</form> 
{{msg}}
<head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  </head>
<h2>MainCategoryFood</h2>

<table>
  <tr>
    <th>MainStream Food Name</th>
    <th>Sub Category Food Charge</th>
    
  </tr>
  {% for i in obj %}
  <tr>
    
    <td>{{i.mainStreamFoodName}}</td>
    <td>{{i.subCategoryFoodCharge}}</td>
    
    
  </tr>
  {% endfor %}
  
</table>

</body>
</html>

